/123/nbproject/private/
/123/build/
/bTVongLap/nbproject/private/
/bTVongLap/build/
/vongLap2/nbproject/private/
/vongLap2/build/
/baiTapMang/nbproject/private/
/baiTapMang/build/
/BaiTapVeMang/nbproject/private/
/BaiTapVeMang/build/
/BaiTapVeClassHDT/nbproject/private/
/BTVeClassHDT/nbproject/private/
/BTVeClassHDT/build/